.body{
    
}

.title{
    color:  white;
    font-size: 70px;
}

.names{
    display: flex;
    justify-content: space-around;
}

.name{
    padding: 10px 30px;
    border-radius: 50px;
}

.mount{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 80px;
    padding-top: 30px;
    

}

.mount h1 {

    color: white;
    padding-bottom: 20px;
    font-size:40px;

}
.title1{
    display: flex;
    justify-content: center;
}
.button{
background-color: aliceblue;
}

.button1{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    
}

